[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest.git
[submodule "benchmarks/ext/entityx"]
	path = benchmarks/ext/entityx
	url = git@github.com:alecthomas/entityx.git
